<div class = "container">
  <h2 class="text-center mb-4">Edit <%= resource_name.to_s.humanize %> Password</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'needs-validation', novalidate: true }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h3 class="text-center"><%= resource.email %></h3>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="alert alert-warning" role="alert">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :current_password, class: 'form-label' %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control', required: true %>
      <div class="invalid-feedback">
        Please enter your current password.
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :new_password, class: 'form-label' %>
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
      <% end %>
      <div class="invalid-feedback">
        Please enter a new password.
      </div>
    </div>

    <div class="mb-3">
      <%= f.label :new_password_confirmation, class: 'form-label' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true %>
      <div class="invalid-feedback">
        Please confirm your new password.
      </div>
    </div>

    <div class="d-grid">
      <%= f.submit "Update", class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


