<% flash.each do |key, message| %>
  <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
    <%= message %>
  </div>
<% end %>
<h1>Product list</h1>
<%= link_to 'Add new', new_product_path, class: 'btn btn-success' %>
<div class="d-flex gap-2">
  <div class="card p-3">
    <%= form_with url: products_path, method: :get, local: true, class: 'mb-3' do %>
      <div class="mb-3">
        <%= text_field_tag :search, params[:search], placeholder: "Search by name", class: 'form-control' %>
      </div>
      <div class="row mb-3">
        <div class="col">
          <%= number_field_tag :min_quantity, params[:min_quantity], placeholder: "Min Quantity", class: 'form-control', min: 0 %>
        </div>
        <div class="col">
          <%= number_field_tag :max_quantity, params[:max_quantity], placeholder: "Max Quantity", class: 'form-control', min: 0 %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <%= number_field_tag :min_price, params[:min_price], placeholder: "Min Price", class: 'form-control', min: 0 %>
        </div>
        <div class="col">
          <%= number_field_tag :max_price, params[:max_price], placeholder: "Max Price", class: 'form-control', min: 0 %>
        </div>
      </div>
      <div class="form-check mb-3">
        <%= hidden_field_tag :available, "0" %>
        <%= check_box_tag :available, "1", params[:available] != "0", id: "available", class: 'form-check-input' %>
        <%= label_tag :available, "Available", class: 'form-check-label' %>
      </div>
      <div class="row mb-3">
        <div class="col">
          <%= label_tag :release_start, "Release Date Start", class: 'form-label' %>
          <%= date_field_tag :release_start, params[:release_start], class: 'form-control' %>
        </div>
        <div class="col">
          <%= label_tag :release_end, "Release Date End", class: 'form-label' %>
          <%= date_field_tag :release_end, params[:release_end], class: 'form-control' %>
        </div>
      </div>
      <%= button_tag 'Filter', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="card p-2">
    <table class="table">
      <thead>
      <tr class="text-center">
        <td>Name</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Discount</td>
        <td>Total Price</td>
        <td>Availability</td>
        <td>Action</td>
      </tr>
      </thead>
      <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.quantity %></td>
          <td><%= product.price.round(2) %></td>
          <td class="text-danger"><%= product.discount %></td>
          <td>
            <% total_price = product.price - (product.price * (product.discount * 0.01)) %>
            <%= total_price.round(2) %>
          </td>
          <td>
            <%= product.available == true ? "Available" : "Unavailable" %>
          </td>
          <td class="btn-group">
            <%= button_to 'Delete', product_path(product), method: :delete, class: 'btn btn-sm btn-danger' %>
            <%= link_to 'Show', product_path(product), class: 'btn btn-sm btn-success' %>
            <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-info' %>
            <%= link_to 'Review', product_reviews_path(product), class: 'btn btn-sm btn-danger' %>
            <%= link_to 'New review', new_product_review_path(product),class: 'btn btn-sm btn-success' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>