<h1>New Product</h1>
<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 0 %>
  </div>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price, min: 0 %>
  </div>
  <div>
    <%= form.label :discount %>
    <%= form.number_field :discount, min: 0 %>
  </div>
  <div>
    <%= form.label :available %>
    <%= form.radio_button :available, true %>
    <%= form.label :available_true, "Yes" %>
    <%= form.radio_button :available, false %>
    <%= form.label :available_false, "No" %>
  </div>
  <div>
    <%= form.label :released_at %>
    <%= form.date_field :released_at %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  <%= form.submit %>
<% end %>