<h1>Title <%= @product.name %></h1>
<h2>Comments</h2>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.content %>(<%= review.created_at %>)
      <%= review.rating %>
      <%= link_to 'Edit', edit_product_review_path(@product, review) %>
      <%= button_to 'Delete', product_review_path(@product, review), method: :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'Product list', products_path %>